* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   height: 100vh;
   background: #ffffff;
}

h1 {
    color: #fff;
    font-size:4rem;
    text-align: center;
    margin-top: 10rem;
}

#acess {

    width: min(100%, 50rem);
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #040013;
    border-radius: 2.4rem;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 80%;
   
}
input::placeholder {
    color: #fff;
}

input {
    width: 80%;
    margin-block: 2rem;
    height: 2.8rem;
    outline: none;
    border-bottom: .2rem solid #020007;
    border-right: none;
    border-left: none;
    border-top: none;
    color: #fff;
  background: none;
  background: #0a002b;
  padding-block: 2rem;

  padding-inline: 1.2rem;
}

input:hover {
    border-bottom: 0.3rem solid #fff;
}

.btn {
width: max(60%, 10rem);
height: 12rem;

border-radius: .4rem;
border: none;
color: #fff;
background: #170061;
margin-bottom: 10rem;
text-align: center;
}
a {
    color: #fff;
    text-decoration: none;
    
    padding-block: 2rem;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 100;
    text-align: center;
}

.btn:hover {
    filter: brightness(100px);
}

/* ===================AVISO================= */
body.active {
   background: rgba(0, 0, 0, 0.795);
}

body.active #aviso {
    display: block;
    opacity: 1;
}

#aviso {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 40%;
    transition: opacity 1s ease;
    background-color: #fb0000;
    height: 40rem;
    color: #fff;
    text-align: center;
    display: none;
    z-index: 100;
}

#aviso h2 {
    margin-top: 4rem;
    color: #fff;
    font-size: 2rem;
}

#aviso p {
    font-size: 1.8rem;
    margin-top: 4rem;
}
